@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
  --primary-bg: #111;
  --primary-text: #fff;
}

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  color: var(--primary-bg);
  background: var(--primary-text);
}

html,
body {
  font-family: 'Inter', 'Roboto', sans-serif;
  overflow-x: hidden;
  background: var(--primary-bg);
  color: var(--primary-text);
  scroll-behavior: smooth;
  cursor:crosshair;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style:none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--primary-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-text);
}

.light-mode {
  --primary-bg: #fff;
  --primary-text: #222;
}